<div class="container mt-4">
  <table class="table table-hover table-striped table-dark">
  <thead>
    <tr>
      <th scope="col">Type</th>
      <th scope="col">Column heading</th>
      <th scope="col">Column heading</th>
      <th scope="col">Column heading</th>
    </tr>
  </thead>
  <tbody>
        @for (u of user; track u.id){
        <tr [class.table-active]="selectedId === u.id">
          <th scope="row" >{{ u.id }}</th>
          <td>{{ u.name }}</td>
          <td>{{ u.department }}</td>
          <td><!-- Button trigger modal -->
            <button type="button" class="btn btn-info">
              View Details
            </button>
          </td>
        </tr>
        }
  </tbody>
  </table>


  <table class="table table-striped table-dark">

    <tr>
      <th scope="col">ID</th>
      <th scope="col">NAME</th>
      <th scope="col">DEPARTMENT</th>
      <th scope="col">VIEW</th>
    </tr>


  @for (u of user; track u.id){
  <tr [class.table-dark]="selectedId === u.id">
    <th scope="row" >{{ u.id }}</th>
    <td>{{ u.name }}</td>
    <td>{{ u.department }}</td>
    <td><!-- Button trigger modal -->
      <a type="button" class="btn btn-info" (click)="onClick(u)" routerLink="userlist/id">
        View Details
      </a>
    </td>
  </tr>
  }
</table>
  <router-outlet>

  </router-outlet>
</div>
